@model List<WishlistViewModel>

@inject IConfiguration _configuration

@{
    ViewBag.Title = "CAR PRODUCT";
    var shipping = _configuration.GetValue<decimal>("StoreSettings:ShippingFee");
}

<div class="container">
    <div class="row">
        <div class="col-12 m-3">
            <h3>Your Wish List Product</h3>
        </div>

        <div class="col-12 col-md-10 col-lg-8">
            <div class="card p-3">

                @foreach (var item in Model)
                {
                    <div class="row align-items-center border-bottom py-3 g-2 ">
                        <!-- Product Image -->
                        <div class="col-3 col-sm-2 text-center">
                            <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">
                            <img src="~/img/@item.ImageUrl" alt="@item.Name"
                                 class="img-fluid rounded"
									 style="max-height: 80px; background:#eee;" />
							</a>
                        </div>

                        <!-- Product Info -->
                        <div class="col-9 col-sm-4">
                            <h6 class="mb-1">@item.Name</h6>
                            <small class="text-muted d-block">Seller: @item.SelerName</small>
                            <small class="text-muted">@item.Description</small>
                        </div>

                        <!-- Price -->
                      
                        <div class="col-3">
                            @if (item.pricediscount != item.Price)
                            {
                                <h4 class="product-price">$@item.pricediscount <del class="product-old-price" style="color:red;">$@item.Price</del></h4>
                            }
                            else
                            {
                                <h4 class="product-price">$@item.Price <del class="product-old-price"></del></h4>
                            }
                        </div>
                        <!-- Date Added -->
                        <div class="col-6 col-sm-2 text-center">
                            <small class="text-muted">@item.DateAdded.ToShortDateString()</small>
                        </div>

                        <!-- Delete Button -->
                        <div class="col-12 col-sm-2 text-center">
                            <input type="hidden" name="ProductName" value="@item.Name" />
                            <button onclick="DeleteNow(@item.Id,'/Wishlists/Delete')" class="btn btn-sm btn-outline-danger mt-2 mt-sm-0">
                                <i class="bi bi-x-lg"></i>
                            </button>
                        </div>
                    </div>
                }

                <div class="text-end mt-4">
                    <button onclick="DeleteNow(0,'/Wishlists/DeleteAll')" class="btn btn-danger">Empty the Wishlist!</button>
                </div>
            </div>

            <div class="mt-4">
                <a href="/Home/Index" class="btn btn-outline-primary">
                    <i class="bi bi-arrow-left"></i> Continue Shopping
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Custom.js" asp-append-version="true"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
